<section>
  <h4><i class="fa fa-search"></i> &nbsp Find Me</h4>
  <ul id="find_me">
    <li><i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}">E-Mail</a></li>
    <li><i class="fa fa-github"></i> <a href="https://github.com/{{ site.username }}" target="_blank">GitHub</a></li>
    <li><i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/in/{{ site.username }}" target="_blank">LinkedIn</a></li>
    <li><i class="fa fa-stack-overflow"></i> <a href="https://stackoverflow.com/story/sundi3yansyah" target="_blank">Story on StackOverflow</a></li>
    <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/{{ site.username }}" target="_blank">Twitter</a></li>
    <li><i class="fa fa-google-plus"></i> <a href="https://plus.google.com/u/0/{{ site.googleplus_user }}" target="_blank">Google+</a></li>
    <li><i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/{{ site.username }}" target="_blank">Facebook</a></li>
    <li><i class="fa fa-youtube-play"></i> <a href="https://asciinema.org/~{{ site.username }}" target="_blank">Asciinema</a></li>
  </ul>
</section>
