<section>
  <h4><i class="fa fa-search-plus"></i> Find Me</h4>
  <ul id="find_me">
    <li><i class="fa fa-envelope"></i> <a href="mailto:sundi3yansyah@gmail.com">E-Mail</a></li>
    <li><i class="fa fa-github"></i> <a href="https://github.com/SunDi3yansyah" target="_blank">GitHub</a></li>
    <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/SunDi3yansyah" target="_blank">Twitter</a></li>
    <li><i class="fa fa-google-plus"></i> <a href="https://plus.google.com/u/0/113613533694994339551" target="_blank">Google+</a></li>
    <li><i class="fa fa-linkedin-square"></i> <a href="http://id.linkedin.com/in/sundi3yansyah/" target="_blank">LinkedIn</a></li>
    <li><i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/adiebiazajah" target="_blank">Facebook</a></li>
    <li><i class="fa fa-youtube-square"></i> <a href="https://www.youtube.com/user/zpqwify" target="_blank">Youtube</a></li>
    <li><i class="fa fa-youtube-play"></i> <a href="https://asciinema.org/~SunDi3yansyah" target="_blank">Asciinema</a></li>
  </ul>
</section>